<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="cordova-plugin-mu-serial" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Device</name>
    <js-module name="device" src="www/device.js">
        <clobbers target="device" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Device">
                <param name="android-package" value="org.apache.cordova.device.Device" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-feature android:name="android.hardware.usb.host" />
        </config-file>
        <source-file src="src/android/Device.java" target-dir="src/org/apache/cordova/device" />
    </platform>

</plugin>
